/* custom properties from github */


h1 {
  text-align: center;
}

/* HEADER STUFF */
.header .container {
  display: flex;              
  justify-content: space-between; 
  align-items: center;      
}

.header .container ul{
  display: flex;   
  list-style: none;
  gap: 70px;
  justify-content: flex-end;
}

/* HERO STUFF */

.hero .container{
  background-color: lightblue;
  padding: 20px;
  display: flex;
}

.hero-text { text-align: center; }

/* rectangle class */

/* .rectangle {
  width: 70px;               
  height: 40px;               
  border: 2px solid #000;     
  display: flex;               
  background-color: #ffffff;   
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 
} */

.grid-container {
  --num-cols: 2;
  --row-height:420px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);

  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  
  border: 2px solid black;

  /* grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr); */
}

.grid-container > img {
  width: 200%;
  height: 100%;
  object-fit: cover;
}