
/* text on the website */

body{
  background: #ffffff;
  padding:20px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  box-sizing: border;
}

h1 {
  text-align: center;
  font-size: 40px;
}


p {
  font-size: 20px; 
}

.p1{
  margin: 5px 0 0;
  font-size: 0.9rem;
}


h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;

}

small {
  text-align: center;
  font-size: 15px;
}

/* HEADER STUFF */
.header .container {
  display: flex;              
  justify-content: space-between; 
  align-items: center;      
  font-size: 30px;
  padding-right: 30px;
}

.navbar-link {
  font-size: 20px;
  color: var(--charcoal);
  transition: var(--transition-1);
  text-decoration: none;


}
.navbar-link:is(:hover, :focus-visible) { color: #f99999;}


.header .container ul{
  display: flex;   
  list-style: none;
  gap: 70px;
  justify-content: flex-end;
}

.header img{
  border-radius:30%;
  width: 50px;
}

/* HERO STUFF */

.hero .container{
  background-color: rgb(255, 255, 255);
  padding: 100px;
  display: flex;
}

.hero-text { text-align: center; }

main {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    
  height: 100vh;          /* Full viewport height to vertically center */
}

/* ======= GRID STUFF ====== */
.grid-container {
  --num-cols: 2;
  --row-height: 300px;
  --gap: 20px;
  width: 1000px;

  /* box-sizing: border-box; */
  /* padding: var(--gap); */

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height); 

  /* grid-auto-rows: var(--row-height); */ 
  gap: var(--gap);
  
}

.images {
  position: relative;
  overflow: hidden;
}
.images > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 4px solid black; */
}

.images:hover > img.blur{
  filter:blur(5px)
}

.images > .text{
  position:absolute;
  inset:0;
  font-size: 2rem;
  padding: 1rem;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}

.images > img,
images > .text{
  transition: 200ms ease-in-out;
}

.images > .text.fade{
  opacity: 0;
}
.images:hover > .text.fade{
  font-size: 25px;
  transition: 400ms ease-in;
  opacity: 1;
}


@media screen and (max-width: 500px) {
  .grid-container {
    --num-cols: 1;
    --row-height:300px;
  }
  
}



/* 
.img-wrapper {
  position: relative;
  overflow: hidden; 
} */

/* .img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
} */
/* 
.images > .content{
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: #948e8e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images > img,
.images > .content{
  transition: 200ms ease-in-out;

}

.image:hover > .content.fade{
  opacity:0;
}

.image:hover >.content */

/* ======= Timeline ======== */

.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container1{
  padding: 70px 100px;
  position: relative;
  width: 50%;
  /* background: rgba(192, 145, 236, 0.3); */
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown{
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.container1:nth-child(1){
  animation-delay: .5s;
}
.container1:nth-child(2){
  animation-delay: 1.5s;
}
.container1:nth-child(3){
  animation-delay: 2.5s;
}
.container1:nth-child(4){
  animation-delay: 3.5s;
}
.container1:nth-child(5){
  animation-delay: 4.5s;
}
.container1:nth-child(6){
  animation-delay: 5.5s;
}


.text-box{
  padding: 100px 30px;
  /* height: 100px; */
  background: #ffffff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  margin: 0;
  border: 2px solid #000000; 

}

.text-box a{
  text-decoration: none;
  font-size: 20px;
  color:#f99999
}

.text-box small{
  font-size: 13px;
  color:#000000;

}


.left-container{
  left:-200px;
}

.right-container{
  left:50%;
}

/* .timeline-image {
  border-radius: 6px;
} */

.container1 img{
  position: absolute;
  width: 100px;
  border-radius: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 2px solid #000000; 
}

.left-container img{
  left:100%;
}
.right-container img{
   left: 0%;
   
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #000000;
  top: 0;
  left:50%; 
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height:100%;
  }
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(255, 113, 113);
  right: -15px;

}


.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(255, 113, 113);
  left: -15px;

}

footer {
  display: flex;                /* Use flexbox for layout */
  justify-content: center;      /* Center horizontally */
  align-items: center;          /* Center vertically */
}


.social-icons .icon {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ============ BLOG ============== */
.blog-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.blog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-list a{
  text-decoration: none;  
  font-size: 15px;
  color:#000000;
}

.blog-item a:hover {
  color:#f99999;
}

p2{
  margin: 5px 0 0;
  font-size: 1.5rem;
  align-self: center;
}

h2 a{
  font-size: 30px;
  text-decoration: none;  
  color:#f99999;
}